<!DOCTYPE html>
<html>
  <head>

        <script type="text/javascript" src="{{ asset('assets/js/jquery-3.1.0.min.js') }}"></script>
        <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet" type="text/css">   
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/Datatables/datatables.min.css') }}"/>
        <script type="text/javascript" src="{{ asset('assets/Datatables/datatables.min.js') }}"></script>

        <meta charset="UTF-8">
        <title>{% block title %}MASO{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('assets/images/favicon.ico') }}" />

    <script>
      // initialization and configuration
      $(document).ready( function () {
          $('#atable').dataTable( {
              "fixedHeader": true,
              "lengthMenu": [ 200, 100, 75, 50, 25, 10 ]
              //"info":     false, // remove header and footer 
              //"ordering": false, 
              //"bPaginate": false,
              //"sDom": 'T<"clear">lfrtip'
      	} ); // end dataTable
      } ); // end ready function
      // END initialization and configuration

      $(document).ready( function () {
          $('#btable').dataTable( {
              "fixedHeader": true,
              "lengthMenu": [ 200, 100, 75, 50, 25, 10 ]
              //"info":     false, // remove header and footer 
              //"ordering": false, 
              //"bPaginate": false,
              //"sDom": 'T<"clear">lfrtip'
      	} ); // end dataTable
      } ); // end ready function
      // END initialization and configuration

    </script>

  </head>
  <body>

    <div id="wrapper">
      <div align="left">
        <a href="{{ path('homepage') }}">
          <img src="{{ asset(logo_file) }}"
           alt="Logo-MASO"
           height="96" width="400"
           style="margin-left:20px;margin-right:20px;margin-top:20px;margin-bottom:20px;float:left">
        </a>
      </div>
    </div>

    <div align="right">
      {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        {% if userBelongsTo(users_admin, app.user.username) %} <font color="red">ADMIN</font> --- {% endif %}
        {% if userBelongsTo(users_manager, app.user.username) %} <font >MANAGER</font> --- {% endif %}
        User: {{ app.user.username }} ---
        <a href="{{ logout_path('main') }}">Logout</a>
      {% endif %}
    </div>

    
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}

    <hr>

    <center>
    <a href="https://github.com/giammy/maso" target="_blank">MASO</a> - 
    Progetto disponibile come "GNU General Public License v3.0" - <a href="http://giammy.com" target="_blank">Gianluca Moro</a>
    </center>

  </body>
</html>
